* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/fond.svg");
    background-size: cover;
    text-align: center;
    padding: 1.5rem;
    position: static;
}

img {
    display: block;
    margin: 0 auto;
}

#titre {
    width: 30vw;
    z-index: 1;
    position: relative;
}

#cartes {
    margin: 0 auto;
}

#cartes1, #cartes2 {
    opacity: 0.7;
    position: absolute;
    width: 40vw;
}

#cartes1 {
    transform: rotate(-50deg);
    left: 0;
}

#cartes2 {
    transform: rotate(50deg) scaleX(-1);
    right: 0;
}

#div-roulette {
    position: relative;
    width: 100%;
}

#roulette {
    position: relative;
    z-index: 1;
    width: 70vh;
}

#spin>img {
    width: 15vw;
}

.slots-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
    width: 60vh;
    height: 30vh;
}

.slot {
    width: 30%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slot-images {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    transition: transform 0.1s ease-out;
}

.slot-img {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    position: relative;
}

.hidden {
    display: none;
}



