/* Mobile first : X-Small devices (portrait phones, less than 576px) */
:root {
    --symbol-height: 20vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/fond.svg");
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    padding: 1rem 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main {
    padding-bottom: 60px;
    position: relative;
}

img {
    display: block;
    margin: 0 auto;
}

#titre {
    height: 10vh;
    z-index: 1;
    position: relative;
    max-width: 80vw;
}

#cartes {
    margin: 0 auto;
}

#cartes1, #cartes2 {
    opacity: 0.7;
    position: absolute;
    width: 50vw;
}

#cartes1 {
    transform: rotate(-50deg);
    left: 0;
}

#cartes2 {
    transform: rotate(50deg) scaleX(-1);
    right: 0;
}

#div-roulette {
    position: relative;
    width: 100vw;
    height: 45vh;
    margin: 1rem auto;
}

#roulette {
    position: relative;
    z-index: 1;
    height: 100%;
    max-width: 100vw;
}

.slots-container {
    position: absolute;
    top: 26vh;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
    width: 40vh;
    max-width: 78vw;
    height: var(--symbol-height);
}

.slot {
    width: 33%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slot-images {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    transition: transform 0.1s ease-out;
}

.slot-img {
    width: 100%;
    height: var(--symbol-height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#spin {
    display: inline-block;
    height: 10vh;
}

#spin>img {
    height: 100%;
}

.result {
    z-index: 10;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    width: 85vw;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.result.hidden {
    z-index: 10;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    pointer-events: none;
}

#shadow {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#shadow.hidden {
    z-index: 9;
    opacity: 0;
    pointer-events: none;
}

#buttons-div {
    position: absolute;
    bottom: 70px;
    right: 10px;
}

#logs, #test {
    border-radius: 10%;
    color: white;
    padding: 10px;
    background-color: black;
    cursor: pointer;
}

#test {
    font-size: 3vh;
}

#logs {
    font-size: 3vh;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    :root {
        --symbol-height: 35vh;
    }
    body {
        justify-content: space-evenly;
    }
    #titre {
        height: 15vh;
    }
    #div-roulette {
        height: 60vh;
        margin: 0 auto;
    }
    #roulette {
        height: 100%;
    }
    .slots-container {
        top: 36vh;
        width: 55vh;
    }
    #spin {
        height: 12vh;
    }
    #spin>img {
        height: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .result {
        top: 57%;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #titre {
        height: 18vh;
    }
    #spin {
        height: 12vh;
    }
    .result {
        width: 70vw;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    :root {
        --symbol-height: 31vh;
    }
    body {
        justify-content: space-evenly;
    }
    #titre {
        height: 18vh;
    }
    #div-roulette {
        height: 55vh;
    }
    #roulette {
        height: 100%;
    }
    .slots-container {
        top: 32vh;
        width: 50vh;
    }
    #spin {
        height: 13vh;
    }
    .result {
        top: 50%;
        width: 50vw;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

}






